{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier une catégorie</h1>
        {{ include('admin/category/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('category_index') }}">Retour à la liste</a>

        {{ include('admin/category/_delete_form.html.twig') }}
    </div>



{% endblock %}
