{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories{% endblock %}

{% block body %}

    <div class="container mt-4">

        {%for message in app.flashes('success') %}
            <div class=" alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <h1>Gérer les catégories</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                            <td>{{category.id}}</td>
                            <td>{{category.name}}</td>
                            <td>
                                <a href="{{path('category_edit', {id: category.id}) }}" class="btn btn-secondary">Editer</a>
                                <form  method="post" action="{{ path('category_delete', {'id': category.id}) }}" style="display: inline-block"  onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                                    <button class="btn btn-danger">Delete</button>
                                </form>

                            </td>
                        </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun enregistrement</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('category_new') }}">Enregsitrer une Catégorie</a>
    </div>

{% endblock %}
