{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Enregistrer une catégorie</h1>

        {{ include('admin/category/_form.html.twig') }}

        <a href="{{ path('category_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
