{% extends "base.html.twig" %}
{% block title 'Se connecter' %}
    {% block body %}
        <div class="container mt-4">
                   
            <form action="{{path('login')}}" method="post">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" id="username" class="form-control" name="_username">
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" class="form-control" name="_password" >
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>
        </div>
    {% endblock %}  