{% extends "base.html.twig" %}
{% block title "S'inscrire" %}
    {% block body %}
        <div class="container mt-4">
           <h3>Page d'inscription</h3>
        {{ form_start(form)}}
        <div class="row">
            <div class="col-md-4">{{form_row(form.username)}}</div>
            <div class="col-md-4">{{form_row(form.Email)}}</div>
        </div>

        <div class="row">
            <div class="col-md-4">{{form_row(form.password)}}</div>
            <div class="col-md-4">{{form_row(form.confirm_password)}}</div>
            
        </div>


        {{form_widget(form)}}
        <button class="btn btn-primary">Inscription</button>
        {{form_end(form)}}
         {#   {{form_start(form)}}
           {{form_widget(form)}}
           <button class="btn btn-success">Inscription</button>
           {{form_end(form)}}
           #}
        </div>
 {% endblock %}
 
