{{ form_start(form)}}
<div class="row">
    <div class="col-md-2">{{form_row(form.name)}}</div>
    <div class="col-md-2">{{form_row(form.price)}}</div>
    <div class="col-md-8">{{form_row(form.categories)}}</div>
    
</div>

<div class="row">
    <div class="col-md-4">{{form_row(form.description)}}</div>
     <div class="col-md-2">{{form_row(form.imageFile)}}</div>
</div>

<div class="row">
    <div class="col-md-2">{{form_row(form.sold)}}</div>
    
</div>

{{form_widget(form)}}
<button class="btn btn-primary">{{button|default('Enregistrer')}}</button>
{{form_end(form)}}