{% extends "base.html.twig" %}
{% block title 'Gérer les Porduits' %}
    {% block body %}

        <div class="container mt-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{message}}
                </div
            {% endfor %}
            <div class="text-right">
                <a href="{{path('admin_product_new')}}" class="btn btn-primary">Enregistrer un nouveau produit</a>
            </div>
            <h1>Gérer les Produits</h1>
            
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{product.name}}</td>
                            <td>
                                <a href="{{path('admin_product_edit', {id: product.id}) }}" class="btn btn-secondary">Editer</a>
                                <form  method="post" action="{{ path('admin_product_delete', {'id': product.id}) }}" style="display: inline-block"  onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                    <button class="btn btn-danger">Delete</button>
                                </form>

                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            
        </div>

    </div>
{% endblock %}  