{% extends "base.html.twig" %}
{% block title "Enregistrement d'un nouveau produit" %}
    {% block body %}

        <div class="container mt-4">
            <h2>Enregistrement d'un nouveau produit </h2>
            {{ include('admin/product/_form.html.twig', {form: form, Button: 'Editer'}) }}
        </div>

    {% endblock %}  
    {% block stylesheets %}
       
    {% endblock %}

    {% block javascripts %}
    {% endblock %}