<div class="card-mt-4">
    {% if product.imageName%}
        <img src="/images/products/{{product.imageName}}" alt="Card-img-top" style="width: 100%; height: auto;">
    {% endif %}

    <div class="card-body">

        <h5 class="card-title">
            <a href="{{path('product_show', {slug: product.slug, id: product.id})}}">
                {{product.name}}


            </a>
        </h5>
        <p class="card-text">
            {{product.description | nl2br}}
        </p>
        <div class="text-primary" style="font-size: 2rem; font-family: bold">

            {{product.formattedPrice}} €
        </div>
    </div>
</div>

