<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>{% block title %}MPC{% endblock %}</title>

        <link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.7.0/css/all.css">

     {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              integrity                                                               = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  #}
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css">
        <link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css">
        
        <meta charset    = "utf-8">
        <meta http-equiv = "x-ua-compatible" content = "ie=edge">
        <title>Asbab - eCommerce HTML5 Templatee</title>
        <meta name = "description" content = "">
        <meta name = "viewport" content    = "width=device-width, initial-scale=1">
        
        <!-- Place favicon.ico in the root directory -->
        <link rel = "shortcut icon" type    = "image/x-icon" href = "image/favicon.ico">
        <link rel = "apple-touch-icon" href = "apple-touch-icon.png">

        <script src = "js/vendor/modernizr-3.5.0.min.js"></script>
        
     <!-- Owl Carousel min css -->
     <link rel = "stylesheet" href = "../css/owl.carousel.min.css">
        <!-- All css files are included here. -->
        <!-- Bootstrap fremwork main css -->
        <link rel = "stylesheet" href = "../../css/bootstrap.min.css">
        <!-- Owl Carousel min css -->   
        {# <link rel="stylesheet" href="css/owl.carousel.min.css"> #}
        <link rel = "stylesheet" href = "../../css/owl.theme.default.min.css">
        <!-- This core.css file contents all plugings css kkknjj,kkk
            suueurfile. -->
        <link rel = "stylesheet" href = "../../css/core.css">
        <!-- Theme shortcodes/elements style -->
        <link rel = "stylesheet" href = "../../css/shortcode/shortcodes.css">
        <!-- Theme main style -->
        <link rel = "stylesheet" href = "../../css/style.css">
        <!-- Responsive css -->
        <link rel = "stylesheet" href = "../css/responsive.css">
        <!-- User style -->
         <link rel = "stylesheet" href = "../../css/style.css">


    {% block stylesheets %}{% endblock %}
</head>
<body>

         <!-- Start Header Style -->
         <header id = "htc__header" class = "htc__header__area header--one">
                <!-- Start Mainmenu Area -->
                <div id    = "sticky-header-with-topbar" class = "mainmenu__wrap sticky__header">
                <div class = "container">
                <div class = "row">
                <div class = "menumenu__container clearfix">
                <div class = "col-lg-2 col-md-2 col-sm-3 col-xs-5">
                <div class = "logo">
                <a   href  = "index.html"><img src             = "../image/logo/4.png" alt = "logo image"></a>
                                    </div>
                                </div>
                                <div class = "col-md-7 col-lg-6 col-sm-5 col-xs-3">
                                <nav class = "main__menu__nav hidden-xs hidden-sm">
                                <ul  class = "main__menu">
                                <li  class = "drop"><a href = "index.html">Home</a></li>
                                <li  class = "drop"><a href = "#">Catalogues</a>
                                <ul  class = "dropdown mega_dropdown">
                                                    <!-- Start Single Mega MEnu -->
                                                    <li><a class = "mega__title" href = "product-grid.html">Aliment</a>
                                                    <ul    class = "mega__item">
                                                    <li><a href  = "product-grid.html">Legume</a></li>
                                                    <li><a href  = "cart.html">Fruit</a></li>
                                                    <li><a href  = "checkout.html">Poissons</a></li>
                                                    <li><a href  = "wishlist.html">boissons</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- End Single Mega MEnu -->
                                                    <!-- Start Single Mega MEnu -->
                                                    <li><a class = "mega__title" href = "product-grid.html">Electroménager</a>
                                                    <ul    class = "mega__item">
                                                    <li><a href  = "#">lave vaiselle</a></li>
                                                    <li><a href  = "#">Four</a></li>
                                                    <li><a href  = "wishlist.html">Micro-ondes</a></li>
                                                    <li><a href  = "cart.html">Lave linge</a></li>
                                                    <li><a href  = "checkout.html">séche Linge</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- End Single Mega MEnu -->
                                                    <!-- Start Single Mega MEnu -->
                                                    <li><a class = "mega__title" href = "product-grid.html">Meuble</a>
                                                    <ul    class = "mega__item">
                                                    <li><a href  = "#">Canapé</a></li>
                                                    <li><a href  = "#">Salon</a></li>
                                                    <li><a href  = "#"> Chambre adulte</a></li>
                                                    <li><a href  = "#">Chambre enfant</a></li>
                                                    <li><a href  = "#">Bureau</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- End Single Mega MEnu -->
                                                </ul>
                                            </li>
                                            <li class = "drop"><a href = "#">men</a>
                                            <ul class = "dropdown mega_dropdown">
                                                    <!-- Start Single Mega MEnu -->
                                                    <li><a class = "mega__title" href = "#"></a>
                                                    <ul    class = "mega__item">
                                                    <li><a href  = "product-grid.html">Product Grid</a></li>
                                                    <li><a href  = "cart.html">cart</a></li>
                                                    <li><a href  = "checkout.html">checkout</a></li>
                                                    <li><a href  = "wishlist.html">wishlist</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- End Single Mega MEnu -->
                                                    <!-- Start Single Mega MEnu -->
                                                    <li><a class = "mega__title" href = "#">Variable Product</a>
                                                    <ul    class = "mega__item">
                                                    <li><a href  = "#">Category</a></li>
                                                    <li><a href  = "#">My Account</a></li>
                                                    <li><a href  = "wishlist.html">Wishlist</a></li>
                                                    <li><a href  = "cart.html">Shopping Cart</a></li>
                                                    <li><a href  = "checkout.html">Checkout</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- End Single Mega MEnu -->
                                                    <!-- Start Single Mega MEnu -->
                                                    <li><a class = "mega__title" href = "product-grid.html">Numérique</a>
                                                    <ul    class = "mega__item">
                                                    <li><a href  = "#">Ordinateur</a></li>
                                                    <li><a href  = "#">Téléphone</a></li>
                                                    <li><a href  = "#"></a>Tv</li>
                                                    <li><a href  = "#">jeux vidéo</a></li>
                                                    
                                                        </ul>
                                                    </li>
                                                    <!-- End Single Mega MEnu -->
                                                </ul>
                                            </li>
                                            <li    class = "drop"><a href = "#">Produits</a>
                                            <ul    class = "dropdown">
                                            <li><a href  = "product-grid.html">Fruit</a></li>
                                            <li><a href  = "product-details.html">Légume</a></li>
                                            <li><a href  = "product-details.html">Vertéments</a></li>
                                            <li><a href  = "product-details.html">Informatique</a></li>
                                                </ul>
                                            </li>
                                            
                                            <li    class = "drop"><a href = "#">Pages</a>
                                            <ul    class = "dropdown">
                                            <li><a href  = "blog.html">Blog</a></li>
                                            <li><a href  = "blog-details.html">Blog Details</a></li>
                                            <li><a href  = "cart.html">Cart page</a></li>
                                            <li><a href  = "checkout.html">checkout</a></li>
                                            <li><a href  = "contact.html">contact</a></li>
                                            <li><a href  = "product-grid.html">product grid</a></li>
                                            <li><a href  = "product-details.html">product details</a></li>
                                            <li><a href  = "wishlist.html">wishlist</a></li>
                                                </ul>
                                            </li>
                                            
                                            <li><a href = "contact.html">contact</a></li>
                                        </ul>
                                    </nav>
    
                                    <div class = "mobile-menu clearfix visible-xs visible-sm">
                                    <nav id    = "mobile_dropdown">
                                            <ul>
                                                <li><a href = "{{path('home')}}">Accueil</a></li>
                                                <li><a href = "blog.html">blog</a></li>
                                                <li><a href = "#">pages</a>
                                                    <ul>
                                                        <li><a href = "blog.html">Blog</a></li>
                                                        <li><a href = "blog-details.html">Blog Details</a></li>
                                                        <li><a href = "cart.html">Cart page</a></li>
                                                        <li><a href = "checkout.html">checkout</a></li>
                                                        <li><a href = "contact.html">contact</a></li>
                                                        <li><a href = "product-grid.html">product grid</a></li>
                                                        <li><a href = "product-details.html">product details</a></li>
                                                        <li><a href = "wishlist.html">wishlist</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href = "contact.html">contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>  
                                </div>
                             
                                  <div class = "main__menu__nav hidden-xs hidden-sm">
                                  <ul  class = "main__menu">
                                  <ul  class = "main__menu">
                                  <div class = "header__right">
                                  <div class = "header__search search search__open">
                                  <a   href  = "#"><i class = "icon-magnifier icons"></i></a>
                                                            </div>        
                                                            {% if app.user %}
                                                                <li    class = "drop"><a href = "#"><i class = "icon-user icons"></i> {{user.username|capitalize}}</a>
                                                                <ul    class = "dropdown">
                                                                <li><a href  = "#">Mon Compte</a></li>
                                                                <li><a href  = "{{path('logout')}}">Déconnexion</a></li>
                                                                <li><a href  = "#">Mes Commandes</a></li>
                                                                    </ul>
                                                                </li>
                                                            {% endif %}
                                                            {% if not app.user %}
                                                                <a href = "{{path('login')}}"><i class = "icon-user icons"></i>Connexion</a>
                                                            {% endif %}
                                                            <div class = "col-lg-8">
                                                            <div class = "htc__shopping__cart">
                                                                            {{ render(controller("App\\Controller\\ShoppingController:nbArticle")) }}
                                                                    </div>
                                                            </div>
                                                            
                                                        </div>
                                                </ul>
                                        </ul>
                                    
                                  </div>
                                
                            </div>
                        </div>
                        <div class = "mobile-menu-area"></div>
                    </div>
                </div>
                <!-- End Mainmenu Area -->
            </header>
         
 
{% block body %}{% endblock %}
<script src         = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity                          = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous"></script>
<script src         = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity   = "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin = "anonymous"></script>
<script src         = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity   = "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin = "anonymous"></script>
<script src         = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<script src         = "js/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap framework js -->
         <script src = "js/owl.carousel.min.js"></script>
        <!-- All js plugins included in this file. -->
        <script src = "js/plugins.js"></script>
        <script src = "js/slick.min.js"></script>
       
        <!-- Waypoints.min.js. -->
        <script src = "js/waypoints.min.js"></script>
        <!-- Main js file that contents all jQuery plugins activation. -->
        <script src = "js/main.js"></script>
<script>
    $('select').select2();
</script>
{% block javascripts %}{% endblock %}


</body>
</html>
