{% extends "base.html.twig" %}
{% block title 'liste des produits' %}
    {% block body %}
        <div class="jumbotron">
            <div class="container">
                {{ form_start(search_form)}}
                <div class="form-row align-items-end">
                    <div class="col">
                        {{form_row(search_form.minPrice)}}
                    </div>
                    <div class="col">
                        {{form_row(search_form.maxPrice)}}
                    </div>
                    <div class="col">
                        {{form_row(search_form.categories)}}
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button class="btn btn-primary">Recherche</button>
                        </div>

                    </div>
                </div>
                {{ form_end(search_form)}}
            </div>
        </div>
        <div class="container mt-4">
            <h1>Liste des Produits</h1>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        {% include 'Product/_product.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {{ knp_pagination_render(products) }}
            </div>
        </div>

    {% endblock %}  