<a  {% if products != 0 %} class="btn btn-success"  {% else %} class="btn btn-light" {% endif %} role="button" href="{{ path('panier') }}"><i class="fas fa-shopping-cart"></i> Votre Panier
    <span class="badge badge-light">
        {% if products == 0 %}
            0
        {% else %}
            {{ products }}
        {% endif %}
    </span>
</a>