{% extends 'base.html.twig' %}

{% block title  %}Panier{% endblock %}

{% block body %}
    <div class="container mt-3">

        <h2>Mon panier</h2>
        <div class="col-md-10">
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for msg in flash_messages %}
                    <div class="alert alert-{{ type }}">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endfor %}
        <table class="table table-striped table-hover" width="100%">
            <thead>
            <tr>
                <th>Références</th>
                <th>Nom</th>
                <th></th>
                <th>Quantité</th>
                <th>PrixUT</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% if  products | length == 0  %}
            <tr>
                <td colspan="6" class="text-center">Panier est vide</td>
            </tr>
            {% endif %}
            {% set somme = 0 %}
            {% for product in products  %}
            <form  action="{{ path('panier_add',{"id": product.id}) }}"  method="get">
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        <img  class="image-style-thumb" src="/images/products/{{product.imageName}}" height="40" alt="{{ product.name }}" />
                    </td>
                    <td class="form-inline">
                        {{ panier[product.id] }}&nbsp;
                         <input class="form-control" type="number" style="width: 30%" max="99" min="1" name="qte" onchange="this.form.submit()"/>
                        &nbsp;<a href="{{ path('panier_suppArticle',{"id": product.id}) }}"><i style="color:red" class="fa fa-trash"></i></a>
                    </td>
                    <td>{{ product.getFormattedPrice }} €</td>
                    <td>{{ (product.price * panier[product.id])|number_format(0, '', '.') }} €</td>
                </tr>
            {% set somme = somme + product.price * panier[product.id] %}
            </form>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5" class="text-right">Total Commande:</th>
                <th> {{ somme|number_format(0, '', '.') }} €</th>
            </tr>
            </tfoot>

        </table>
            <p class="card-text">
               <a class="btn btn-danger" role="button"  href="{{ path('panier_delete') }}">Vider le panier</a>
            </p>
    </div>
        <div class="col-md-4"></div>
    </div>


{% endblock %}