<a  {% if articles != 0 %}  {% else %} {% endif %}  href="{{ path('panier') }}"><i class="icon-handbag icons"></i> 
  
        {% if articles == 0 %}
        0
        {% else %}
        {{ articles }}
        {% endif %}
   
</a>


